@model List<uchange.Models.DealDB>

@{
    ViewBag.Title = "History";
    uchange.Models.PersonDBContext person = new uchange.Models.PersonDBContext();
    uchange.Models.ItemDBContext item = new uchange.Models.ItemDBContext();
    uchange.Models.PersonDB stu;
    bool flag = false;
}

<h2>@ViewBag.first_name @ViewBag.last_name's Change History</h2>
@foreach (var d in Model)
{
    if (!flag)
    {
        stu = person.Persons.Find(d.to);
        <h3>@item.Items.Find(stu.item_original).name</h3>
    }
    <p>--> @d.deal_time</p>
    <h3>@item.Items.Find(d.item).name</h3>
}